build/ration-sm/index.html
<!DOCTYPE html><html class="no-js" lang="en"> <head> <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <title>bellakt</title> <meta name="description" content="A new Yeogurt application"> <meta name="viewport" content="width=device-width,initial-scale=1"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css"> <link rel="stylesheet" href="../styles/main.css"> <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js"></script> <script src="https://bellakt.ru/local/templates/main/js/vendor.js"></script> <script src="../scripts/ofi.min.js"></script> </head> <body> <div class="main-wrapper"> <div class="top-menu"> <div class="container"> <div class="grid_1"><a href="/" class="logo"> <div class="shape"></div> <div class="img"><img src="/images/p.gif" border="0" alt="Детское питание Беллакт"></div></a></div> <div class="grid_3"> <div class="search_form"> <div class="search-form"> <form action="/search/index.php"> <table border="0" cellspacing="0" cellpadding="2" align="center"> <tr> <td align="center"> <input name="q" size="15" maxlength="50"> </td> </tr> <tr> <td align="right"> <input name="s" type="submit" value="Поиск"> </td> </tr> </table> </form> </div> </div> <div class="st_headerphone"> <div class="st_det_phone"><span>Горячая линия</span> 8 800 100 28 70</div> </div><a href="/cabinet/"> <div class="signin"><span>Войти</span></div></a> <div class="social-networks clearfix"><a href="https://vk.com/bellaktclub" target="_blank" rel="nofollow"> <div class="item vk"></div></a><a href="https://www.facebook.com/Bellakt.Russia" target="_blank" rel="nofollow"> <div class="item fb"></div></a><a href="https://www.instagram.com/bellaktclubmam/" target="_blank" rel="nofollow"> <div class="item od"></div></a></div> </div> <div class="mnu_bar spoiler-title"><a href="#"><span></span></a></div> <div id="mnu_item" style="display: none;" class="spoiler-body"> <ul> <li class="item delivery_list"><a>Каталог</a> <ul class="cities_list"> <li><a href="/catalog/smesi/">Смеси</a></li> <li><a href="/catalog/kashi/">Каши</a></li> <li><a href="/catalog/detskoe-molochnoe-menyu/">Молочное меню</a></li> <li><a href="/catalog/dlya-beremennykh-i-kormyashchikh/">Для беременных и кормящих</a></li> <li><a href="/catalog/group/">Рационы</a></li> </ul> </li> <li class="item delivery_list"><a>Покупателю</a> <ul class="cities_list"> <li><a href="/buyers/promo/">Акции</a></li> <li><a href="/buyers/">Где купить?</a></li> </ul> </li> <li class="item delivery_list"><a>О компании</a> <ul class="cities_list"> <li><a href="/about/#m-item-1">О заводе</a></li> <li><a href="/about/#m-item-2">Качество</a></li> <li><a href="/about/#m-item-3">Группа компаний в РФ</a></li> <li><a href="/about/#m-item-4">Скачать</a></li> <li><a href="/news/">Новости</a></li> <li><a href="/about/contacts/">Контакты</a></li> </ul> </li> <li class="item delivery_list"><a>Беллакт-клуб</a> <ul class="cities_list"> <li><a href="/club/blog/">Блог</a></li> <li><a href="/club/azbuka/">Азбука мамы</a></li> <li><a href="/club/otvet/">Вопрос-ответ</a></li> </ul> </li> </ul> </div> </div> </div> <div class="main-menu"> <div class="container"> <div class="grid_4"> <div itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="items"> <div class="item is-many-lvls active"><span class="white-overlay"></span> <sp itemprop="name"><a itemprop="url" href="/catalog/">Каталог</a></sp> <div class="two-lvl-wr"> <div class="two-lvl"><span class="before"></span><span class="after"></span> <sps itemprop="name"><a itemprop="url" href="/catalog/smesi/">Смеси</a></sps> <sps itemprop="name"><a itemprop="url" href="/catalog/kashi/">Каши</a></sps> <sps itemprop="name"><a itemprop="url" href="/catalog/detskoe-molochnoe-menyu/">Молочное меню</a></sps> <sps itemprop="name"><a itemprop="url" href="/catalog/dlya-beremennykh-i-kormyashchikh/">Для беременных и кормящих</a></sps> <sps itemprop="name"><a itemprop="url" href="/catalog/group/">Рационы</a></sps> </div> </div> </div> <div class="item is-many-lvls"><span class="white-overlay"></span> <sp itemprop="name"><a itemprop="url" href="/buyers/">Покупателю</a></sp> <div class="two-lvl-wr"> <div class="two-lvl"><span class="before"></span><span class="after"></span> <sps itemprop="name"><a itemprop="url" href="/buyers/promo/">Акции</a></sps> <sps itemprop="name"><a itemprop="url" href="/buyers/">Где купить?</a></sps> </div> </div> </div> <div class="item is-many-lvls"><span class="white-overlay"></span> <sp itemprop="name"><a itemprop="url" href="/about/">О компании</a></sp> <div class="two-lvl-wr"> <div class="two-lvl"><span class="before"></span><span class="after"></span> <sps itemprop="name"><a itemprop="url" href="/about/#m-item-1">О заводе</a></sps> <sps itemprop="name"><a itemprop="url" href="/about/#m-item-2">Качество</a></sps> <sps itemprop="name"><a itemprop="url" href="/about/#m-item-3">Группа компаний в РФ</a></sps> <sps itemprop="name"><a itemprop="url" href="/about/#m-item-4">Скачать</a></sps> <sps itemprop="name"><a itemprop="url" href="/news/">Новости</a></sps> <sps itemprop="name"><a itemprop="url" style="margin-left: -10px;" href="/about/contacts/">Контакты</a></sps> </div> </div> </div> <div class="item is-many-lvls"><span class="white-overlay"></span> <sp itemprop="name"><a itemprop="url" href="/club/blog/">Беллакт-клуб</a></sp> <div class="two-lvl-wr"> <div class="two-lvl"><span class="before"></span><span class="after"></span> <sps itemprop="name"><a itemprop="url" href="/club/blog/">Блог</a></sps> <sps itemprop="name"><a itemprop="url" href="/club/azbuka/">Азбука мамы</a></sps> <sps itemprop="name"><a itemprop="url" href="/club/otvet/">Вопрос-ответ</a></sps> </div> </div> </div> </div> </div> </div> </div> <section class="b-ration-section"> <div class="breadcrumbs-wrapper"> <div class="breadcrumbs"> <ul itemscope itemtype="http://schema.org/BreadcrumbList"> <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item" class="link home"><span itemprop="name">Главная</span></a> <meta itemprop="position" content="1"> </li> <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/catalog/" title="Каталог" itemprop="item" class="link"><span itemprop="name">Каталог</span></a> <meta itemprop="position" content="2"> </li> <li class="link breadcrumbs-link">Рационы</li> </ul> </div> </div> <div class="b-ration-mobile b-ration-page--1"> <div class="b-ration-container"> <div class="b-ration__item"> <div class="b-ration__item-wrap"> <div class="b-ration__ribbon"> <div class="b-ration__ribbon-text">Для мам </div> </div> <div class="b-ration__col-wrap"> <div class="b-ration__col"> <div class="b-ration__pic-wrap"> <div class="b-ration__pic"> <picture><img src="../images/star-1.svg" alt="star"></picture> </div> <div class="b-ration__pack"> <picture> <source media="(max-width: 640px)" srcset="../images/catalog/catalog-sm-1.png"><img src="../images/catalog/catalog-1.png" alt=""> </picture> </div> </div> </div> </div> </div> </div> <div class="b-ration__item-small"> <div class="b-ration__list b-ration__list--icon"> <ul class="icon"> <li><img src="../images/catalog/icon-1.svg" alt="icon"><span>Без ГМО</span></li> <li><img src="../images/catalog/icon-2.svg" alt="icon"><span>Без красителей</span></li> <li><img src="../images/catalog/icon-3.svg" alt="icon"><span>Натурально</span></li> <li><img src="../images/catalog/icon-4.svg" alt="icon"><span> Традиционное<br>качество</span></li> </ul> </div> <div class="b-ration__title">Смеси для беременных и кормящих мам </div> <div class="b-ration__content"><span></span>Период вынашивания малыша, а затем и его грудного вскармливания является одним из самых важных в закладке фундамента здоровья ребенка. И этот фундамент зависит прежде всего от качества питания матери. Поэтому многие специалисты рекомендуют сухие молочные смеси для беременных женщин. В них заложены необходимые матери витамины и микроэлементы. Компания Беллакт разработала несколько таких продуктов с учетом всех рекомендаций ВОЗ. </div> <div class="button"><img src="../images/catalog/ration-btn-blue.svg" alt="star"><span>Выбрать питание</span></div> <div class="b-ration__title">Что для чего? </div> <div class="b-ration__list"> <ul> <li>НУКЛЕОТИДЫ</li> <li>10 ВИТАМИНОВ</li> <li>БЕЗ КОНСЕРВАНТОВ</li> <li>АЛЬФА КИСЛОТА</li> <li>9 МИНЕРАЛОВ</li> <li>ЦИНК, СЕЛЕН И ЙОД</li> <li>БЕЗ СОЛИ И САХАРА</li> </ul> </div> <div class="b-ration__category">Рубрика: <a href="#">Все, что нужно знать заботливой маме</a>,&nbsp;<a href="#">Научный подход. Просто о сложном </a></div> </div> </div> <div class="b-interesting__wrap"> <div class="b-ration__title">Вам может быть это интересно</div> <div class="b-ration-container"> <div id="interest" class="swiper-container"> <div class="swiper-wrapper"> <div class="b-interesting swiper-slide b-interesting--2"> <div class="b-interesting__item-wrap"> <div class="b-interesting__star"><img src="../images/star-sm-2.svg" alt="star"></div> <div class="b-interesting__btn js-btn">Старше 6 месяцев</div> </div> <div class="b-interesting__item-wrap"> <div class="b-interesting__pic-small"><img src="../images/kid-sm-2.svg" alt="Image Title"></div> </div> </div> <div class="b-interesting swiper-slide b-interesting--3"> <div class="b-interesting__item-wrap"> <div class="b-interesting__star"><img src="../images/star-sm-3.svg" alt="star"></div> <div class="b-interesting__btn js-btn">Старше 1 года</div> </div> <div class="b-interesting__item-wrap"> <div class="b-interesting__pic-small"><img src="../images/kid-sm-3.svg" alt="Image Title"></div> </div> </div> <div class="b-interesting swiper-slide b-interesting--4"> <div class="b-interesting__item-wrap"> <div class="b-interesting__star"><img src="../images/star-sm-4.svg" alt="star"></div> <div class="b-interesting__btn js-btn">Молочное меню</div> </div> <div class="b-interesting__item-wrap"> <div class="b-interesting__pic-small"><img src="../images/kid-sm-4.svg" alt="Image Title"></div> </div> </div> <div class="b-interesting swiper-slide b-interesting--5"> <div class="b-interesting__item-wrap"> <div class="b-interesting__star"><img src="../images/star-sm-1.svg" alt="star"></div> <div class="b-interesting__btn js-btn">Для мам</div> </div> <div class="b-interesting__item-wrap"> <div class="b-interesting__pic-small"><img src="../images/kid-sm-5.svg" alt="Image Title"></div> </div> </div> <div class="b-interesting swiper-slide b-interesting--1"> <div class="b-interesting__item-wrap"> <div class="b-interesting__star"><img src="../images/star-sm-1.svg" alt="star"></div> <div class="b-interesting__btn js-btn">С рождения</div> </div> <div class="b-interesting__item-wrap"> <div class="b-interesting__pic-small"><img src="../images/kid-sm-1.svg" alt="Image Title"></div> </div> </div> </div> <div class="swiper-button-next"></div> <div class="swiper-button-prev"></div> </div> </div> </div> </div> <script> $(function() {
          
          var mySwiper = new Swiper('.swiper-container', {
              speed: 400,
              loop: true,
              spaceBetween: 30,
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              }
          });
        }); </script> </section> </div> <script> $(function() {
      objectFitImages();
    }) </script> </body></html>

src/ration-sm/index.jade
extends ../_layouts/base

include ../_modules/b-ration-mobile/b-ration-mobile

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  .main-wrapper
    .top-menu
      .container
        .grid_1
          a.logo(href='/')
            .shape
            .img
              img(src='/images/p.gif', border='0', alt='Детское питание Беллакт')
        .grid_3
          .search_form
            .search-form
              form(action='/search/index.php')
                table(border='0', cellspacing='0', cellpadding='2', align='center')
                  tr
                    td(align='center')
                      input(type='text', name='q', value='', size='15', maxlength='50')
                  tr
                    td(align='right')
                      input(name='s', type='submit', value='Поиск')
          .st_headerphone
            .st_det_phone
              span Горячая линия
              |   8 800 100 28 70
          a(href='/cabinet/')
            .signin
              span
                | Войти
          .social-networks.clearfix
            a(href='https://vk.com/bellaktclub', target='_blank', rel='nofollow')
              .item.vk
            a(href='https://www.facebook.com/Bellakt.Russia', target='_blank', rel='nofollow')
              .item.fb
            a(href='https://www.instagram.com/bellaktclubmam/', target='_blank', rel='nofollow')
              .item.od
        .mnu_bar.spoiler-title
          a(href='#')
            span
        #mnu_item.spoiler-body(style='display: none;')
          ul
            li.item.delivery_list
              a Каталог
              ul.cities_list
                li
                  a(href='/catalog/smesi/') Смеси
                li
                  a(href='/catalog/kashi/') Каши
                li
                  a(href='/catalog/detskoe-molochnoe-menyu/') Молочное меню
                li
                  a(href='/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
                li
                  a(href='/catalog/group/') Рационы
            li.item.delivery_list
              a Покупателю
              ul.cities_list
                li
                  a(href='/buyers/promo/') Акции
                li
                  a(href='/buyers/') Где купить?
            li.item.delivery_list
              a О компании
              ul.cities_list
                li
                  a(href='/about/#m-item-1') О заводе
                li
                  a(href='/about/#m-item-2') Качество
                li
                  a(href='/about/#m-item-3') Группа компаний в РФ
                li
                  a(href='/about/#m-item-4') Скачать
                li
                  a(href='/news/') Новости
                li
                  a(href='/about/contacts/') Контакты
            li.item.delivery_list
              a Беллакт-клуб
              ul.cities_list
                li
                  a(href='/club/blog/') Блог
                li
                  a(href='/club/azbuka/') Азбука мамы
                li
                  a(href='/club/otvet/') Вопрос-ответ
        
    .main-menu
      .container
        .grid_4
          .items(itemscope='', itemtype='http://www.schema.org/SiteNavigationElement')
            .item.is-many-lvls.active
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/catalog/') Каталог
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/smesi/') Смеси
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/kashi/') Каши
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/detskoe-molochnoe-menyu/') Молочное меню
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/group/') Рационы
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/buyers/') Покупателю
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/buyers/promo/') Акции
                  sps(itemprop='name')
                    a(itemprop='url', href='/buyers/') Где купить?
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/about/') О компании
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-1') О заводе
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-2') Качество
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-3') Группа компаний в РФ
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-4') Скачать
                  sps(itemprop='name')
                    a(itemprop='url', href='/news/') Новости
                  sps(itemprop='name')
                    a(itemprop='url', style='margin-left: -10px;', href='/about/contacts/') Контакты
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/club/blog/') Беллакт-клуб
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/blog/') Блог
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/azbuka/') Азбука мамы
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/otvet/') Вопрос-ответ
    section.b-ration-section
      .breadcrumbs-wrapper
       
        .breadcrumbs
          ul(itemscope='', itemtype='http://schema.org/BreadcrumbList')
            li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
              a.link.home(href='/', title='Главная', itemprop='item')
                span(itemprop='name') Главная
              meta(itemprop='position', content='1')
            li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
              a.link(href='/catalog/', title='Каталог', itemprop='item')
                span(itemprop='name') Каталог
              meta(itemprop='position', content='2')
            li.link.breadcrumbs-link Рационы

      +b-ration-mobile
    
