build/index.html
<!DOCTYPE html><html class="no-js" lang="en"> <head> <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <title>bellakt</title> <meta name="description" content="A new Yeogurt application"> <meta name="viewport" content="width=device-width,initial-scale=1"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css"> <link rel="stylesheet" href="./styles/main.css"> <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js"></script> <script src="https://bellakt.ru/local/templates/main/js/vendor.js"></script> <script src="./scripts/ofi.min.js"></script> </head> <body> <div class="main-wrapper"> <div class="top-menu"> <div class="container"> <div class="grid_1"><a href="/" class="logo"> <div class="shape"></div> <div class="img"><img src="/images/p.gif" border="0" alt="Детское питание Беллакт"></div></a></div> <div class="grid_3"> <div class="search_form"> <div class="search-form"> <form action="/search/index.php"> <table border="0" cellspacing="0" cellpadding="2" align="center"> <tr> <td align="center"> <input name="q" size="15" maxlength="50"> </td> </tr> <tr> <td align="right"> <input name="s" type="submit" value="Поиск"> </td> </tr> </table> </form> </div> </div> <div class="st_headerphone"> <div class="st_det_phone"><span>Горячая линия</span> 8 800 100 28 70</div> </div><a href="/cabinet/"> <div class="signin"><span>Войти</span></div></a> <div class="social-networks clearfix"><a href="https://vk.com/bellaktclub" target="_blank" rel="nofollow"> <div class="item vk"></div></a><a href="https://www.facebook.com/Bellakt.Russia" target="_blank" rel="nofollow"> <div class="item fb"></div></a><a href="https://www.instagram.com/bellaktclubmam/" target="_blank" rel="nofollow"> <div class="item od"></div></a></div> </div> <div class="mnu_bar spoiler-title"><a href="#"><span></span></a></div> <div id="mnu_item" style="display: none;" class="spoiler-body"> <ul> <li class="item delivery_list"><a>Каталог</a> <ul class="cities_list"> <li><a href="/catalog/smesi/">Смеси</a></li> <li><a href="/catalog/kashi/">Каши</a></li> <li><a href="/catalog/detskoe-molochnoe-menyu/">Молочное меню</a></li> <li><a href="/catalog/dlya-beremennykh-i-kormyashchikh/">Для беременных и кормящих</a></li> <li><a href="/catalog/group/">Рационы</a></li> </ul> </li> <li class="item delivery_list"><a>Покупателю</a> <ul class="cities_list"> <li><a href="/buyers/promo/">Акции</a></li> <li><a href="/buyers/">Где купить?</a></li> </ul> </li> <li class="item delivery_list"><a>О компании</a> <ul class="cities_list"> <li><a href="/about/#m-item-1">О заводе</a></li> <li><a href="/about/#m-item-2">Качество</a></li> <li><a href="/about/#m-item-3">Группа компаний в РФ</a></li> <li><a href="/about/#m-item-4">Скачать</a></li> <li><a href="/news/">Новости</a></li> <li><a href="/about/contacts/">Контакты</a></li> </ul> </li> <li class="item delivery_list"><a>Беллакт-клуб</a> <ul class="cities_list"> <li><a href="/club/blog/">Блог</a></li> <li><a href="/club/azbuka/">Азбука мамы</a></li> <li><a href="/club/otvet/">Вопрос-ответ</a></li> </ul> </li> </ul> </div> <!--
        <div id="mnu_item" class="spoiler-body" style="display: none;">
        <ul>
        <li class="delivery_list">
        <a>Каталог</a>
        <ul class="cities_list">
        <li><a href="racion.html">Как выбрать</a></li>
        <li><a href="catalog.html">Ассортимент</a></li>
        </ul>
        </li>
        <li class="delivery_list">
        <a>Покупателю</a>
        <ul class="cities_list">
        <li><a href="shares.html">Акции</a></li>
        <li><a href="wherebuy.html">Где купить</a></li>
        </ul>
        </li>
        <li><a href="about.html">О нас</a></li>
        <li class="delivery_list">
        <a>Беллакт-клуб</a>
        </li>
        </ul>
        </div>
        --> </div> </div> <div class="main-menu"> <div class="container"> <div class="grid_4"> <div itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="items"> <div class="item is-many-lvls"><span class="white-overlay"></span> <sp itemprop="name"><a itemprop="url" href="/catalog/">Каталог</a></sp> <div class="two-lvl-wr"> <div class="two-lvl"><span class="before"></span><span class="after"></span> <sps itemprop="name"><a itemprop="url" href="/catalog/smesi/">Смеси</a></sps> <sps itemprop="name"><a itemprop="url" href="/catalog/kashi/">Каши</a></sps> <sps itemprop="name"><a itemprop="url" href="/catalog/detskoe-molochnoe-menyu/">Молочное меню</a></sps> <sps itemprop="name"><a itemprop="url" href="/catalog/dlya-beremennykh-i-kormyashchikh/">Для беременных и кормящих</a></sps> <sps itemprop="name"><a itemprop="url" href="/catalog/group/">Рационы</a></sps> </div> </div> </div> <div class="item is-many-lvls"><span class="white-overlay"></span> <sp itemprop="name"><a itemprop="url" href="/buyers/">Покупателю</a></sp> <div class="two-lvl-wr"> <div class="two-lvl"><span class="before"></span><span class="after"></span> <sps itemprop="name"><a itemprop="url" href="/buyers/promo/">Акции</a></sps> <sps itemprop="name"><a itemprop="url" href="/buyers/">Где купить?</a></sps> </div> </div> </div> <div class="item is-many-lvls"><span class="white-overlay"></span> <sp itemprop="name"><a itemprop="url" href="/about/">О компании</a></sp> <div class="two-lvl-wr"> <div class="two-lvl"><span class="before"></span><span class="after"></span> <sps itemprop="name"><a itemprop="url" href="/about/#m-item-1">О заводе</a></sps> <sps itemprop="name"><a itemprop="url" href="/about/#m-item-2">Качество</a></sps> <sps itemprop="name"><a itemprop="url" href="/about/#m-item-3">Группа компаний в РФ</a></sps> <sps itemprop="name"><a itemprop="url" href="/about/#m-item-4">Скачать</a></sps> <sps itemprop="name"><a itemprop="url" href="/news/">Новости</a></sps> <sps itemprop="name"><a itemprop="url" style="margin-left: -10px;" href="/about/contacts/">Контакты</a></sps> </div> </div> </div> <div class="item is-many-lvls"><span class="white-overlay"></span> <sp itemprop="name"><a itemprop="url" href="/club/blog/">Беллакт-клуб</a></sp> <div class="two-lvl-wr"> <div class="two-lvl"><span class="before"></span><span class="after"></span> <sps itemprop="name"><a itemprop="url" href="/club/blog/">Блог</a></sps> <sps itemprop="name"><a itemprop="url" href="/club/azbuka/">Азбука мамы</a></sps> <sps itemprop="name"><a itemprop="url" href="/club/otvet/">Вопрос-ответ</a></sps> </div> </div> </div> </div> </div> </div> </div> <div style="width: 100%; background-image:url(/local/templates/main/images/main-slider-bg.jpg)" class="main-slider"> <div data-nav="false" data-loop="true" data-autoplay="true" data-maxwidth="100%" data-width="100%" data-height="672" class="fotorama"> <div class="slide-item"> <div class="container"> <div class="grid_2"> <div class="title">Смеси в новой упаковке</div> <div class="description">Уже в продаже </div><a href="/news/bellakt-v-novom-dizayne-/" class="button"><span>Узнать больше</span></a> </div> <div class="grid_2"><img src="/upload/iblock/80e/80e679f856b56398b7f06238d691c4c3.png" alt="Смеси в новой упаковке" class="first"></div> </div> </div> <div class="slide-item"> <div class="container"> <div class="grid_2"> <div class="title">НОВИНКА! Молочное меню</div> <div class="description">Больше 20 видов: <br>йогурты, творог, кефир, молоко <br>и готовые каши!</div><a href="/catalog/detskoe-molochnoe-menyu/" class="button"><span>Узнать больше</span></a> </div> <div class="grid_2"><img src="/upload/iblock/d91/d910f4c10e0a74ea1c45fded1d86aad1.png" alt="НОВИНКА! Молочное меню" class="first"></div> </div> </div> <div class="slide-item"> <div class="container"> <div class="grid_2"> <div class="title">Обогащенное питание для мам</div> <div class="description">Новая улучшенная формула!</div><a href="/catalog/dlya-beremennykh-i-kormyashchikh/bellakt-mama-plus.php" class="button"><span>Узнать больше</span></a> </div> <div class="grid_2"><img src="/upload/iblock/a7c/a7c0b86633f95d258d30a1e3a9606ffe.png" alt="Обогащенное питание для мам" class="first"></div> </div> </div> </div> <div class="slider-footer"> <div class="container"> <div class="nav grid_2"> <!--
            <div class="item active"></div>
            <div class="item"></div>
            <div class="item"></div>
            --> </div> <div class="question grid_2"><a href="/about/#feedback" style="margin-left:0" class="title"><span>Созрел вопрос</span></a> <div class="phone"> <div class="city-choose">Горячая линия</div> <div class="number">8 800 100 28 70</div> </div> </div> </div> </div> </div> <section class="s1"> <div class="slide-item"> <div class="container"> <div class="grid_2"> <div class="glass"> <div class="glass-ico-outer-box"> <div class="field clearfix"> <div class="g-title">Без<br>ГМО</div> <div class="ico gi3"></div> </div> <div class="field clearfix"> <div class="g-title">Без<br>красителей</div> <div class="ico gi2"></div> </div> <div class="field clearfix"> <div class="g-title"><br>Натурально</div> <div class="ico gi1"></div> </div> <div class="field clearfix"> <div class="g-title">Традиционно качественно</div> <div class="ico gi4"></div> </div> </div><img src="/local/templates/main/images/glass.png" alt="" style="position: relative;top: 88px;left: -73px;"> </div> </div> <div class="grid_2"> <h1 class="title-main">Детское питание Беллакт</h1> <div class="description quality-white-block mblk"> <p class="mblk1">Качество, проверенное временем</p> <p>БОЛЬШОЙ ОПЫТ. Компания Беллакт уже более 45 лет выпускает натуральную и полезную продукцию. Все эти годы мы следуем принципу: нельзя идти на компромиссы, когда речь идет о здоровье детей;</p> <p>КАЧЕСТВЕННОЕ СЫРЬЕ. Его поставляют наши собственные фермерские хозяйства, расположенные в экологически чистом районе вблизи заповедника Беловежская пуща. Беллакт является единственным в СНГ производителем с полным циклом изготовления — от фермы до пачки. Уже через 45 минут после дойки коров молочное сырье поступает на завод;</p> <p>ТЩАТЕЛЬНЫЙ КОНТРОЛЬ КАЧЕСТВА. Рецептуру продукта, взвешивание, добавление, смешивание компонентов, фасовку и упаковку контролирует компьютер. Полностью автоматизированная технология производства исключает контакт сотрудников с продукцией.</p> <p>Детское питание Беллакт полюбилось многим поколениям маленьких гурманов из более чем 14 стран мира. С 2005 года продукция этого белорусского производителя стала доступна российским малышам и их мамам.</p> </div><a href="/about/" class="button"><span>О заводе</span></a> </div> </div> </div> </section> <section class="promo-info"> <div class="store-open"> <div class="calendar"> <div class="unit days"> <div class="number">12</div> <div class="title">дней</div> </div> <div class="unit hours"> <div class="number">23</div> <div class="title">часов</div> </div> <div class="unit minutes"> <div class="number">57</div> <div class="title">минут</div> </div> </div> <div class="title">Открытие<br>магазина</div> <div class="title2">Через</div> </div> <div class="subscribe"> <div class="stork"></div> <div class="title">Подпишись<br>и будь в курсе событий!</div><a href="#subscribe" data-type="inline" class="button subscribe-btn"><span>Подписаться</span></a><a href="#subscribe" data-type="inline" class="button subscribe-btn"><span>Подписаться</span></a> <div id="subscribe" style="display: none"> <div class="subscribe-window"> <div style="margin: 50px auto 0 auto" class="stock-wrapper"> <div class="title">Подписка на новости</div> <div style="text-align: left; padding: 30px 50px 0 50px"> <div style="color: crimson; font-weight: bold" class="error"></div> <div style="color: springgreen; font-weight: bold; text-align: center" class="info"></div> <input name="subscribe-email" placeholder="ваша почта" style="margin-top: 20px"><br><a style="margin-top: 30px" href="" onclick="$.post('/pub/subscribes.php', {                email: $('input[name=subscribe-email]')[1].value                }).done(function(res) {                res = JSON.parse(res);                $w = $($('.subscribe-window')[1]);                $w.find(res.result ? '.info' : '.error').html(res.message);                if(res.result){                $w.find('.error').css('display','none');                $w.find('input[name=subscribe-email]').css('display','none');                $w.find('a.button').css('display','none');                }                });                return false;" class="button news-btn"><span>Подписаться</span></a> </div> </div> </div> </div> </div> </section> <section class="s2"> <div class="video"> <div class="video-item"> <div class="video-content"> <div class="container"> <div class="grid_4"> <div class="title"> </div> <div class="years-wr"> <div class="line-l"></div> <div class="line-r"></div> <div style="width: 8000px" class="years"><span data-id="1" class="item y1">1970</span><span data-id="2" class="item y2 active">1971</span><span data-id="3" class="item y3">1976</span><span data-id="4" class="item y4">1985</span><span data-id="5" class="item y5">1990</span><span data-id="6" class="item y6">2006</span><span data-id="7" class="item y7">2007</span><span data-id="8" class="item y8">2008</span><span data-id="9" class="item y9">2009</span><span data-id="10" class="item y10">2010</span><span data-id="11" class="item y11">2011</span><span data-id="12" class="item y12">2013</span><span data-id="13" class="item y13">2016</span></div> </div> <div data-id="1" class="description">5 октября 1970 года впервые в молочно-консервной промышленности СССР, было запущено производство с дистанционным автоматизированным управлением всеми технологическими процессами -  предприятие ОАО Беллакт в г. Волковыск, Республики Беларусь</div> <div data-id="2" class="description show">На заводе переработано 58 тысяч тонн молока и выпущено 1052 тонны детского питания!</div> <div data-id="3" class="description">Указом Президиума Верховного Совета СССР за успехи в выпуске высококачественных продуктов питания для детей раннего возраста и выполнение заданий девятой пятилетки комбинат был награжден орденом Трудового Красного Знамени.</div> <div data-id="4" class="description">Совместно с французской фирмой «Сифаль» всего за четыре года (1985-1988)  была проведена реконструкция предприятия: установлена новая технологическая линия, более совершенная и современная, чем действующая ранее. Мощность завода возросла на 30%!</div> <div data-id="5" class="description">В сутки на заводе перерабатывается 541 тонна молока. Из него производят более 35 видов готовой продукции!</div> <div data-id="6" class="description">Начало производства детских быстрорастворимых каш - потребители получили около 25 видов нового продукта.</div> <div data-id="7" class="description">Партнерами предприятия стали более 12 стран: Россия, Украина, Молдова, Венесуэла, Пакистан, Саудовская Аравия и многие другие.</div> <div data-id="8" class="description">Ассортимент составляет больше 200 видов продукции, которая подразделяется на 7 больших групп</div> <div data-id="9" class="description">Получены сертификаты Кашерности и Халяль </div> <div data-id="10" class="description">Завершена крупномасштабная модернизация производства детского питания: введны в эксплуотацию линия по асептической фасовке и линия о изготовлению быстрорастворимых детских каш производительностью больше 3000 тонн в год.</div> <div data-id="11" class="description">Беллакт продолжает заложенную еще в первые годы существования комбината традицию тесного взаимодействия с хозяйствами - поставщиками сырья. Предприятие работает более чем со 130 фермерскими хозяйствами, расположенными вблизи государственного заповедника "Беловежская пуща"</div> <div data-id="12" class="description">Реструктуризация лабораторного центра Беллакт. Теперь он включает в себя 5 лабораторий, которые работают круглосуточно и без выходных. В процессе производства детского питания осуществляется автоматический забор проб каждые 3 часа на всех этапах производства, контролируется несколько десятков показателей.</div> <div data-id="13" class="description">В сутки на заводе перерабатывается 700 тонн молока - это в 5 раз больше, чем в первый год его работы!</div> </div> </div> </div> <div class="top-gr"></div> <div class="bottom-gr"></div> <div class="overlay"></div> <div id="video"></div> </div> </div> </section> <section> <div class="b-ration-main"> <div class="b-ration-container"><a href="#" class="b-ration__item"> <div class="b-ration__item-wrap"> <div class="b-ration__star"> <picture> <source media="(max-width: 640px)" srcset="images/star-sm-1.svg"><img src="images/star-1.svg" alt="star"> </picture> </div> <div class="b-ration__pic"><img src="images/kid-1.svg" alt="Image Title"></div> <div class="b-ration__icon"><img src="images/icon-1.svg" alt="Image Title"></div> <div class="b-ration__btn">Для мам </div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__benefits"> <div class="b-ration__benefits-pic"><img src="images/racion-icon-1.svg" alt="star"></div> <div class="b-ration__benefits-text">Без ГМО<br>Без красителей<br>Натурально<br>Традиционное<br>качество</div> </div> <div class="b-ration__pack"><img src="images/ration-pic-1.png" alt="star"></div> <div class="b-ration__btn b-ration__btn--white">Узнать больше</div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__pic-small"><img src="images/kid-sm-1.svg" alt="Image Title"></div> </div></a><a href="#" class="b-ration__item"> <div class="b-ration__item-wrap"> <div class="b-ration__star"> <picture> <source media="(max-width: 640px)" srcset="images/star-sm-2.svg"><img src="images/star-2.svg" alt="star"> </picture> </div> <div class="b-ration__pic"><img src="images/kid-2.svg" alt="Image Title"></div> <div class="b-ration__icon"><img src="images/icon-2.svg" alt="Image Title"></div> <div class="b-ration__btn">С рождения </div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__benefits"> <div class="b-ration__benefits-pic"><img src="images/racion-icon-1.svg" alt="star"></div> <div class="b-ration__benefits-text">Без ГМО<br>Без красителей<br>Натурально<br>Традиционное<br>качество</div> </div> <div class="b-ration__pack"><img src="images/ration-pic-2.png" alt="star"></div> <div class="b-ration__btn b-ration__btn--white">Узнать больше</div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__pic-small"><img src="images/kid-sm-2.svg" alt="Image Title"></div> </div></a><a href="#" class="b-ration__item"> <div class="b-ration__item-wrap"> <div class="b-ration__star"> <picture> <source media="(max-width: 640px)" srcset="images/star-sm-3.svg"><img src="images/star-3.svg" alt="star"> </picture> </div> <div class="b-ration__pic"><img src="images/kid-3.svg" alt="Image Title"></div> <div class="b-ration__icon"><img src="images/icon-3.svg" alt="Image Title"></div> <div class="b-ration__btn">Старше 6 месяцев </div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__benefits"> <div class="b-ration__benefits-pic"><img src="images/racion-icon-1.svg" alt="star"></div> <div class="b-ration__benefits-text">Без ГМО<br>Без красителей<br>Натурально<br>Традиционное<br>качество</div> </div> <div class="b-ration__pack"><img src="images/ration-pic-3.png" alt="star"></div> <div class="b-ration__btn b-ration__btn--white">Узнать больше</div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__pic-small"><img src="images/kid-sm-3.svg" alt="Image Title"></div> </div></a><a href="#" class="b-ration__item"> <div class="b-ration__item-wrap"> <div class="b-ration__star"> <picture> <source media="(max-width: 640px)" srcset="images/star-sm-4.svg"><img src="images/star-4.svg" alt="star"> </picture> </div> <div class="b-ration__pic"><img src="images/kid-4.svg" alt="Image Title"></div> <div class="b-ration__icon"><img src="images/icon-4.svg" alt="Image Title"></div> <div class="b-ration__btn">Старше 1 года </div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__benefits"> <div class="b-ration__benefits-pic"><img src="images/racion-icon-1.svg" alt="star"></div> <div class="b-ration__benefits-text">Без ГМО<br>Без красителей<br>Натурально<br>Традиционное<br>качество</div> </div> <div class="b-ration__pack"><img src="images/ration-pic-4.png" alt="star"></div> <div class="b-ration__btn b-ration__btn--white">Узнать больше</div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__pic-small"><img src="images/kid-sm-4.svg" alt="Image Title"></div> </div></a><a href="#" class="b-ration__item"> <div class="b-ration__item-wrap"> <div class="b-ration__star"> <picture> <source media="(max-width: 640px)" srcset="images/star-sm-5.svg"><img src="images/star-5.svg" alt="star"> </picture> </div> <div class="b-ration__pic"><img src="images/kid-5.svg" alt="Image Title"></div> <div class="b-ration__icon"><img src="images/icon-5.svg" alt="Image Title"></div> <div class="b-ration__btn">Молочное меню </div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__benefits"> <div class="b-ration__benefits-pic"><img src="images/racion-icon-1.svg" alt="star"></div> <div class="b-ration__benefits-text">Без ГМО<br>Без красителей<br>Натурально<br>Традиционное<br>качество</div> </div> <div class="b-ration__pack"><img src="images/ration-pic-5.png" alt="star"></div> <div class="b-ration__btn b-ration__btn--white">Узнать больше</div> </div> <div class="b-ration__item-wrap"> <div class="b-ration__pic-small"><img src="images/kid-sm-5.svg" alt="Image Title"></div> </div></a> </div> </div> </section> <section class="stock-wrapper"></section> <section class="news"> <div class="title">Новости</div> <div class="container"> <div class="grid4"><a href="/news/kasha-bellakt-po-vygodnoy-tsene-v-karuseli-/" class="item"> <div style="background-image:url(/upload/iblock/578/5783a12af9796f9f93c48fdba9ef3d9d.jpg)" class="img-box"> <div class="date">29 Июн 2018</div> </div> <div class="title">Каша Беллакт по выгодной цене в Карусели </div> <div class="description">Овсяная молочная каша Беллакт в гипермаркетах X5 Retail Group</div></a><a href="/news/pirozhnye-bellakt-i-kashi-gramier-v-ashan/" class="item"> <div style="background-image:url(/upload/iblock/d25/d25b54e4bfd0b7a8fb7bc6136884296c.jpg)" class="img-box"> <div class="date">18 Июн 2018</div> </div> <div class="title">Вкусные новинки в Ашан</div> <div class="description">Пирожные Беллакт и каши Gramier </div></a><a href="/news/skidki-na-detskoe-pitanie-bellakt-v-iyune/" class="item"> <div style="background-image:url(/upload/iblock/152/15252e9478d2bbe72dffbd0f7f4a90a3.jpg)" class="img-box"> <div class="date">7 Июн 2018</div> </div> <div class="title">Скидки на детское питание Беллакт в июне</div> <div class="description">Выгодные цены и полезные подарки </div></a></div> <div class="grid_4"><a href="/news/" class="button news-btn"><span>Все новости</span></a></div> </div> </section> </div> <div id="popup-info" class="mfp-with-anim mfp-hide"> <div class="info-text"><b>Уважаемые родители!</b><br><br> Всемирная Организация Здравоохранения рекомендует грудное вскармливание для детей до 6 месяцев. "Беллакт" поддерживает ВОЗ и предлагает продолжать грудное вскармливание как можно дольше. Перед применением смеси или введением прикорма проконсультируйтесь со своим педиатром. </div><br> <button onclick="$.magnificPopup.close()">Продолжить</button> </div> <footer> <div class="go-top"></div> <div class="footer-pattert"></div> <div class="container"> <div class="grid_4"> <div class="footer-menu"> <div class="items"> <ul> <li class="item st_fmenucat"><a href="/catalog/"><span>Каталог</span></a> <div> <div><a href="https://bellakt.ru/catalog/kashi/"><span class="st_line">Детские каши</span></a><a href="https://bellakt.ru/catalog/kashi/molochnye/"><span>Молочные каши</span></a><a href="https://bellakt.ru/catalog/kashi/bezmolochnye/"><span>Безмолочные каши</span></a><br><a href="https://bellakt.ru/catalog/detskoe-molochnoe-menyu/"><span class="st_line">Молочное меню</span></a><a href="https://bellakt.ru/catalog/detskoe-molochnoe-menyu/moloko/"><span>Молоко</span></a><a href="https://bellakt.ru/catalog/detskoe-molochnoe-menyu/kefir/"><span>Кефир</span></a><a href="https://bellakt.ru/catalog/detskoe-molochnoe-menyu/jogurt/"><span>Йогурты</span></a><a href="https://bellakt.ru/catalog/detskoe-molochnoe-menyu/pitevoj-jogurt/"><span>Питьевые йогурты</span></a><a href="https://bellakt.ru/catalog/detskoe-molochnoe-menyu/tvorog/"><span>Творог</span></a><a href="https://bellakt.ru/catalog/detskoe-molochnoe-menyu/zhidkaya-molochnaya-kasha/"><span>Жидкие молочные каши</span></a></div> <div><a href="https://bellakt.ru/catalog/smesi/"><span class="st_line">Детские смеси</span></a><a href="https://bellakt.ru/catalog/smesi/adaptirovannye-molochnye-smesi/"><span>Молочные смеси</span></a><a href="https://bellakt.ru/catalog/smesi/kislomolochnye/"><span>Кисломолочные смеси</span></a><a href="https://bellakt.ru/catalog/smesi/gipoalergennye/"><span>Гипоаллергенные смеси</span></a><br><a href="https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/"><span class="st_line">Для беременных и кормящих</span></a></div> </div> </li> <li class="item"><span>Покупателю</span> <div><a href="/buyers/promo/"><span>Акции</span></a><a href="/buyers/"><span>Где купить?</span></a><a href="/buyers/partneram.php"><span>Партнерам</span></a></div> </li> <li class="item"><a href="/about/"><span>О нас</span></a> <div><a href="/about/contacts/"><span>Контакты</span></a><a href="/news/"><span>Новости</span></a></div><a href="/sitemap/"><span>Карта сайта</span></a> </li> <li class="item"><a href="/club/blog/"><span>Беллакт-клуб</span></a> <div><a href="/club/azbuka/"><span>Азбука мамы</span></a><a href="/club/otvet/"><span>Вопрос-ответ</span></a></div> </li> </ul> </div> </div> </div> <div class="grid_4 st_callblock"> <div style="display:inline-block;position: relative;left: 50%;margin-top: 29px; margin-left: -240px;" class="question clearfix"><a href="javascript: void(0);" style="margin-left:0" class="title"><span>Созрел вопрос</span></a> <div class="phone"> <div class="city-choose">Горячая линия</div> <div class="number">8 800 100 28 70</div> </div> </div> </div> <div class="grid_4"> <div class="copyright">© 2017 Детское питание Беллакт – российский официальный сайт. Все права защищены. <br><br><a rel="nofollow" target="_blank" href="http://bellakt.com"> Сайт для мам и пап из Республики Беларусь: bellakt.com</a><br><br><a href="/about/#contacts">Контактная информация</a></div> </div> <div class="grid_4 st_sociallink"> <div class="social-networks clearfix"><a href="https://vk.com/bellaktclub" target="_blank" rel="nofollow"> <div class="item vk"></div></a><a href="https://www.facebook.com/Bellakt.Russia/" target="_blank" rel="nofollow"> <div class="item fb"></div></a><a href="https://www.instagram.com/bellaktclubmam/" target="_blank" rel="nofollow"> <div class="item od"></div></a></div> </div> <div class="grid_4"> <div class="developer">Сайт разработан в <a rel="nofollow" href="http://informunity.ru">Informunity</a><a rel="nofollow" href="http://informunity.ru" class="devlogo"></a></div> </div> </div> </footer> <script> $(function() {
      objectFitImages();
    }) </script> </body></html>

src/index.jade
extends _layouts/base

include _modules/b-ration-main/b-ration-main

block content
  .main-wrapper
    .top-menu
      .container
        .grid_1
          a.logo(href='/')
            .shape
            .img
              img(src='/images/p.gif', border='0', alt='Детское питание Беллакт')
        .grid_3
          .search_form
            .search-form
              form(action='/search/index.php')
                table(border='0', cellspacing='0', cellpadding='2', align='center')
                  tr
                    td(align='center')
                      input(type='text', name='q', value='', size='15', maxlength='50')
                  tr
                    td(align='right')
                      input(name='s', type='submit', value='Поиск')
          .st_headerphone
            .st_det_phone
              span Горячая линия
              |   8 800 100 28 70
          a(href='/cabinet/')
            .signin
              span
                | Войти
          .social-networks.clearfix
            a(href='https://vk.com/bellaktclub', target='_blank', rel='nofollow')
              .item.vk
            a(href='https://www.facebook.com/Bellakt.Russia', target='_blank', rel='nofollow')
              .item.fb
            a(href='https://www.instagram.com/bellaktclubmam/', target='_blank', rel='nofollow')
              .item.od
        .mnu_bar.spoiler-title
          a(href='#')
            span
        #mnu_item.spoiler-body(style='display: none;')
          ul
            li.item.delivery_list
              a Каталог
              ul.cities_list
                li
                  a(href='/catalog/smesi/') Смеси
                li
                  a(href='/catalog/kashi/') Каши
                li
                  a(href='/catalog/detskoe-molochnoe-menyu/') Молочное меню
                li
                  a(href='/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
                li
                  a(href='/catalog/group/') Рационы
            li.item.delivery_list
              a Покупателю
              ul.cities_list
                li
                  a(href='/buyers/promo/') Акции
                li
                  a(href='/buyers/') Где купить?
            li.item.delivery_list
              a О компании
              ul.cities_list
                li
                  a(href='/about/#m-item-1') О заводе
                li
                  a(href='/about/#m-item-2') Качество
                li
                  a(href='/about/#m-item-3') Группа компаний в РФ
                li
                  a(href='/about/#m-item-4') Скачать
                li
                  a(href='/news/') Новости
                li
                  a(href='/about/contacts/') Контакты
            li.item.delivery_list
              a Беллакт-клуб
              ul.cities_list
                li
                  a(href='/club/blog/') Блог
                li
                  a(href='/club/azbuka/') Азбука мамы
                li
                  a(href='/club/otvet/') Вопрос-ответ
        //
          <div id="mnu_item" class="spoiler-body" style="display: none;">
          <ul>
          <li class="delivery_list">
          <a>Каталог</a>
          <ul class="cities_list">
          <li><a href="racion.html">Как выбрать</a></li>
          <li><a href="catalog.html">Ассортимент</a></li>
          </ul>
          </li>
          <li class="delivery_list">
          <a>Покупателю</a>
          <ul class="cities_list">
          <li><a href="shares.html">Акции</a></li>
          <li><a href="wherebuy.html">Где купить</a></li>
          </ul>
          </li>
          <li><a href="about.html">О нас</a></li>
          <li class="delivery_list">
          <a>Беллакт-клуб</a>
          </li>
          </ul>
          </div>
    .main-menu
      .container
        .grid_4
          .items(itemscope='', itemtype='http://www.schema.org/SiteNavigationElement')
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/catalog/') Каталог
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/smesi/') Смеси
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/kashi/') Каши
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/detskoe-molochnoe-menyu/') Молочное меню
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/group/') Рационы
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/buyers/') Покупателю
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/buyers/promo/') Акции
                  sps(itemprop='name')
                    a(itemprop='url', href='/buyers/') Где купить?
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/about/') О компании
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-1') О заводе
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-2') Качество
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-3') Группа компаний в РФ
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-4') Скачать
                  sps(itemprop='name')
                    a(itemprop='url', href='/news/') Новости
                  sps(itemprop='name')
                    a(itemprop='url', style='margin-left: -10px;', href='/about/contacts/') Контакты
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/club/blog/') Беллакт-клуб
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/blog/') Блог
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/azbuka/') Азбука мамы
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/otvet/') Вопрос-ответ
    .main-slider(style='width: 100%; background-image:url(/local/templates/main/images/main-slider-bg.jpg)')
      .fotorama(data-nav='false', data-loop='true', data-autoplay='true', data-maxwidth='100%', data-width='100%', data-height='672')
        .slide-item
          .container
            .grid_2
              .title
                | Смеси в новой упаковке
              .description Уже в продаже 
              a.button(href='/news/bellakt-v-novom-dizayne-/')
                span Узнать больше
            .grid_2
              img.first(src='/upload/iblock/80e/80e679f856b56398b7f06238d691c4c3.png', alt='Смеси в новой упаковке')
        .slide-item
          .container
            .grid_2
              .title
                | НОВИНКА! Молочное меню
              .description
                | Больше 20 видов: 
                br
                | йогурты, творог, кефир, молоко 
                br
                | и готовые каши!
              a.button(href='/catalog/detskoe-molochnoe-menyu/')
                span Узнать больше
            .grid_2
              img.first(src='/upload/iblock/d91/d910f4c10e0a74ea1c45fded1d86aad1.png', alt='НОВИНКА! Молочное меню')
        .slide-item
          .container
            .grid_2
              .title
                | Обогащенное питание для мам
              .description Новая улучшенная формула!
              a.button(href='/catalog/dlya-beremennykh-i-kormyashchikh/bellakt-mama-plus.php')
                span Узнать больше
            .grid_2
              img.first(src='/upload/iblock/a7c/a7c0b86633f95d258d30a1e3a9606ffe.png', alt='Обогащенное питание для мам')
      .slider-footer
        .container
          .nav.grid_2
            //
              <div class="item active"></div>
              <div class="item"></div>
              <div class="item"></div>
          .question.grid_2
            a.title(href='/about/#feedback', style='margin-left:0')
              span Созрел вопрос
            .phone
              .city-choose Горячая линия
              .number
                | 8 800 100 28 70
    section.s1
      .slide-item
        .container
          .grid_2
            .glass
              .glass-ico-outer-box
                .field.clearfix
                  .g-title
                    | Без
                    br
                    | ГМО
                  .ico.gi3
                .field.clearfix
                  .g-title
                    | Без
                    br
                    | красителей
                  .ico.gi2
                .field.clearfix
                  .g-title
                    br
                    | Натурально
                  .ico.gi1
                .field.clearfix
                  .g-title Традиционно качественно
                  .ico.gi4
              img(src='/local/templates/main/images/glass.png', alt='', style='position: relative;top: 88px;left: -73px;')
          .grid_2
            h1.title-main Детское питание Беллакт
            .description.quality-white-block.mblk
              p.mblk1 Качество, проверенное временем
              p
                | БОЛЬШОЙ ОПЫТ. Компания Беллакт уже более 45 лет выпускает натуральную и полезную продукцию. Все эти годы мы следуем принципу: нельзя идти на компромиссы, когда речь идет о здоровье детей;
              p
                | КАЧЕСТВЕННОЕ СЫРЬЕ. Его поставляют наши собственные фермерские хозяйства, расположенные в экологически чистом районе вблизи заповедника Беловежская пуща. Беллакт является единственным в СНГ производителем с полным циклом изготовления — от фермы до пачки. Уже через 45 минут после дойки коров молочное сырье поступает на завод;
              p
                | ТЩАТЕЛЬНЫЙ КОНТРОЛЬ КАЧЕСТВА. Рецептуру продукта, взвешивание, добавление, смешивание компонентов, фасовку и упаковку контролирует компьютер. Полностью автоматизированная технология производства исключает контакт сотрудников с продукцией.
              p
                | Детское питание Беллакт полюбилось многим поколениям маленьких гурманов из более чем 14 стран мира. С 2005 года продукция этого белорусского производителя стала доступна российским малышам и их мамам.
            a.button(href='/about/')
              span О заводе
    section.promo-info
      .store-open
        .calendar
          .unit.days
            .number 12
            .title дней
          .unit.hours
            .number 23
            .title часов
          .unit.minutes
            .number 57
            .title минут
        .title
          | Открытие
          br
          | магазина
        .title2 Через
      .subscribe
        .stork
        .title
          | Подпишись
          br
          | и будь в курсе событий!
        a.button.subscribe-btn(href='#subscribe', data-type='inline')
          span Подписаться
        a.button.subscribe-btn(href='#subscribe', data-type='inline')
          span Подписаться
        #subscribe(style='display: none')
          .subscribe-window
            .stock-wrapper(style='margin: 50px auto 0 auto')
              .title Подписка на новости
              div(style='text-align: left; padding: 30px 50px 0 50px')
                .error(style='color: crimson; font-weight: bold')
                .info(style='color: springgreen; font-weight: bold; text-align: center')
                input(type='text', name='subscribe-email', placeholder='ваша почта', style='margin-top: 20px')
                br
                a.button.news-btn(style='margin-top: 30px', href='', onclick="\
                $.post('/pub/subscribes.php', {\
                email: $('input[name=subscribe-email]')[1].value\
                }).done(function(res) {\
                res = JSON.parse(res);\
                $w = $($('.subscribe-window')[1]);\
                $w.find(res.result ? '.info' : '.error').html(res.message);\
                if(res.result){\
                $w.find('.error').css('display','none');\
                $w.find('input[name=subscribe-email]').css('display','none');\
                $w.find('a.button').css('display','none');\
                }\
                });\
                return false;\
                ")
                  span Подписаться
    section.s2
      .video
        .video-item
          .video-content
            .container
              .grid_4
                .title  
                .years-wr
                  .line-l
                  .line-r
                  .years(style='width: 8000px')
                    span.item.y1(data-id='1') 1970
                    span.item.y2.active(data-id='2') 1971
                    span.item.y3(data-id='3') 1976
                    span.item.y4(data-id='4') 1985
                    span.item.y5(data-id='5') 1990
                    span.item.y6(data-id='6') 2006
                    span.item.y7(data-id='7') 2007
                    span.item.y8(data-id='8') 2008
                    span.item.y9(data-id='9') 2009
                    span.item.y10(data-id='10') 2010
                    span.item.y11(data-id='11') 2011
                    span.item.y12(data-id='12') 2013
                    span.item.y13(data-id='13') 2016
                .description(data-id='1')
                  | 5 октября 1970 года впервые в молочно-консервной промышленности СССР, было запущено производство с дистанционным автоматизированным управлением всеми технологическими процессами -  предприятие ОАО Беллакт в г. Волковыск, Республики Беларусь
                .description.show(data-id='2')
                  | На заводе переработано 58 тысяч тонн молока и выпущено 1052 тонны детского питания!
                .description(data-id='3')
                  | Указом Президиума Верховного Совета СССР за успехи в выпуске высококачественных продуктов питания для детей раннего возраста и выполнение заданий девятой пятилетки комбинат был награжден орденом Трудового Красного Знамени.
                .description(data-id='4')
                  | Совместно с французской фирмой «Сифаль» всего за четыре года (1985-1988)  была проведена реконструкция предприятия: установлена новая технологическая линия, более совершенная и современная, чем действующая ранее. Мощность завода возросла на 30%!
                .description(data-id='5')
                  | В сутки на заводе перерабатывается 541 тонна молока. Из него производят более 35 видов готовой продукции!
                .description(data-id='6')
                  | Начало производства детских быстрорастворимых каш - потребители получили около 25 видов нового продукта.
                .description(data-id='7')
                  | Партнерами предприятия стали более 12 стран: Россия, Украина, Молдова, Венесуэла, Пакистан, Саудовская Аравия и многие другие.
                .description(data-id='8')
                  | Ассортимент составляет больше 200 видов продукции, которая подразделяется на 7 больших групп
                .description(data-id='9') Получены сертификаты Кашерности и Халяль 
                .description(data-id='10')
                  | Завершена крупномасштабная модернизация производства детского питания: введны в эксплуотацию линия по асептической фасовке и линия о изготовлению быстрорастворимых детских каш производительностью больше 3000 тонн в год.
                .description(data-id='11')
                  | Беллакт продолжает заложенную еще в первые годы существования комбината традицию тесного взаимодействия с хозяйствами - поставщиками сырья. Предприятие работает более чем со 130 фермерскими хозяйствами, расположенными вблизи государственного заповедника "Беловежская пуща"
                .description(data-id='12')
                  | Реструктуризация лабораторного центра Беллакт. Теперь он включает в себя 5 лабораторий, которые работают круглосуточно и без выходных. В процессе производства детского питания осуществляется автоматический забор проб каждые 3 часа на всех этапах производства, контролируется несколько десятков показателей.
                .description(data-id='13')
                  | В сутки на заводе перерабатывается 700 тонн молока - это в 5 раз больше, чем в первый год его работы!
          .top-gr
          .bottom-gr
          .overlay
          #video
    section
      +b-ration-main
      
      
    section.stock-wrapper
    section.news
      .title Новости
      .container
        .grid4
          a.item(href='/news/kasha-bellakt-po-vygodnoy-tsene-v-karuseli-/')
            .img-box(style='background-image:url(/upload/iblock/578/5783a12af9796f9f93c48fdba9ef3d9d.jpg)')
              .date 29 Июн 2018
            .title Каша Беллакт по выгодной цене в Карусели 
            .description Овсяная молочная каша Беллакт в гипермаркетах X5 Retail Group
          a.item(href='/news/pirozhnye-bellakt-i-kashi-gramier-v-ashan/')
            .img-box(style='background-image:url(/upload/iblock/d25/d25b54e4bfd0b7a8fb7bc6136884296c.jpg)')
              .date 18 Июн 2018
            .title Вкусные новинки в Ашан
            .description Пирожные Беллакт и каши Gramier 
          a.item(href='/news/skidki-na-detskoe-pitanie-bellakt-v-iyune/')
            .img-box(style='background-image:url(/upload/iblock/152/15252e9478d2bbe72dffbd0f7f4a90a3.jpg)')
              .date 7 Июн 2018
            .title Скидки на детское питание Беллакт в июне
            .description Выгодные цены и полезные подарки 
        .grid_4
          a.button.news-btn(href='/news/')
            span Все новости
  #popup-info.mfp-with-anim.mfp-hide
    .info-text
      b Уважаемые родители!
      br
      br
      |         Всемирная Организация Здравоохранения рекомендует грудное вскармливание для детей до 6
      |         месяцев. "Беллакт" поддерживает ВОЗ и предлагает продолжать грудное вскармливание как можно дольше. Перед
      |         применением смеси или введением прикорма проконсультируйтесь со своим педиатром.
    br
    button(onclick='$.magnificPopup.close()') Продолжить
  footer
    .go-top
    .footer-pattert
    .container
      .grid_4
        .footer-menu
          .items
            ul
              li.item.st_fmenucat
                a(href='/catalog/')
                  span Каталог
                div
                  div
                    a(href='https://bellakt.ru/catalog/kashi/')
                      span.st_line Детские каши
                    a(href='https://bellakt.ru/catalog/kashi/molochnye/')
                      span Молочные каши
                    a(href='https://bellakt.ru/catalog/kashi/bezmolochnye/')
                      span Безмолочные каши
                    br
                    a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/')
                      span.st_line Молочное меню
                    a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/moloko/')
                      span Молоко
                    a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/kefir/')
                      span Кефир
                    a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/jogurt/')
                      span Йогурты
                    a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/pitevoj-jogurt/')
                      span Питьевые йогурты
                    a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/tvorog/')
                      span Творог
                    a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/zhidkaya-molochnaya-kasha/')
                      span Жидкие молочные каши
                  div
                    a(href='https://bellakt.ru/catalog/smesi/')
                      span.st_line Детские смеси
                    a(href='https://bellakt.ru/catalog/smesi/adaptirovannye-molochnye-smesi/')
                      span Молочные смеси
                    a(href='https://bellakt.ru/catalog/smesi/kislomolochnye/')
                      span Кисломолочные смеси
                    a(href='https://bellakt.ru/catalog/smesi/gipoalergennye/')
                      span Гипоаллергенные смеси
                    br
                    a(href='https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/')
                      span.st_line Для беременных и кормящих
              li.item
                span Покупателю
                div
                  a(href='/buyers/promo/')
                    span Акции
                  a(href='/buyers/')
                    span Где купить?
                  a(href='/buyers/partneram.php')
                    span Партнерам
              li.item
                a(href='/about/')
                  span О нас
                div
                  a(href='/about/contacts/')
                    span Контакты
                  a(href='/news/')
                    span Новости
                a(href='/sitemap/')
                  span Карта сайта
              li.item
                a(href='/club/blog/')
                  span Беллакт-клуб
                div
                  a(href='/club/azbuka/')
                    span Азбука мамы
                  a(href='/club/otvet/')
                    span Вопрос-ответ
      .grid_4.st_callblock
        .question.clearfix(style='display:inline-block;position: relative;left: 50%;margin-top: 29px; margin-left: -240px;')
          a.title(href='javascript: void(0);', style='margin-left:0')
            span Созрел вопрос
          .phone
            .city-choose Горячая линия
            .number
              | 8 800 100 28 70
      .grid_4
        .copyright
          | © 2017 Детское питание Беллакт – российский официальный сайт. Все права защищены. 
          br
          br
          a(rel='nofollow', target='_blank', href='http://bellakt.com')  Сайт для мам и пап из Республики Беларусь: bellakt.com
          br
          br
          a(href='/about/#contacts') Контактная информация
      .grid_4.st_sociallink
        .social-networks.clearfix
          a(href='https://vk.com/bellaktclub', target='_blank', rel='nofollow')
            .item.vk
          a(href='https://www.facebook.com/Bellakt.Russia/', target='_blank', rel='nofollow')
            .item.fb
          a(href='https://www.instagram.com/bellaktclubmam/', target='_blank', rel='nofollow')
            .item.od
      .grid_4
        .developer
          | Сайт разработан в 
          a(rel='nofollow', href='http://informunity.ru') Informunity
          a.devlogo(rel='nofollow', href='http://informunity.ru')
